.about-title {
    font-family: AmaticSC-Bold;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
    font-size:70px;
}

.about-us {
    font-family: AmaticSC-Bold;
    text-align: end;
    padding: 25px;
    padding-top: 0px;
    font-size: 35px;
    padding-bottom: 0px;
    margin:0;
    margin-bottom:10px;
}

.extra{
    text-shadow: 0 0 black;
}