.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-family: AmaticSC-Bold;
    color: rgb(224, 219, 219);

    .logo {
        align-self: start;
    }

    .imgsContainer {
        width: 100%;
        height: 20rem;
    }
}

.headline {
    color: rgb(20, 14, 15);
    font-family: AmaticSC-Bold;
    font-size: 3rem;
    text-align: center;
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 35px;
    text-shadow: 0 0 black;
    background-color: #f5f5dc82;
    width: 100%;
}

.order-now {
    width: 135px;
    display: inline-block;
    color: black;
    font-family: AmaticSC-Bold;
    font-size: 2rem;
    border: solid 0.3rem goldenrod;
    padding: 0.4rem;
    box-shadow: 3px 2px 5px 3px #daa5209c;
    border-radius: 6px;
    background-color: aliceblue;
    text-align: center;
}

a:-webkit-any-link {
    text-decoration: none;
}

main {
}

.info {
    background-color: #000000b5;
    width: 100%;
    text-align: center;
    font-size: 30px;

    .hours-title {
        font-size: 35px;
        text-decoration: underline 1px;
    }
}

// -------------------------------------------

