.menu-container {
    background-color: #f0f8ffeb;
    padding: 18px;
    padding-top: 1px;
    border-radius: 20px;
    margin: 1.3rem;

    
    .menu-title {
        font-family: AmaticSC-Bold;
        text-align: center;
        font-size: 40px;
        margin: 25px;
        margin-bottom: -8px;
    }

    .knafe, .more{
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .menu-postage {
        text-align: center;
        margin-bottom: 20px;
    }

    .sale{
        background-color: darkturquoise;
        height: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
        font-weight: bold;
        width: 100%;
        font-size: 27px;
    
    }    
}

.preview {
    display: flex;
    border-bottom: 1px solid #00000047;
    margin-bottom: 32px;
    padding-bottom: 7px;


    .preview-right {
        align-self: center;
    }

    .preview-left {
        font-size: small;
        padding-left: 10px;
    }

    p {
        text-align: right;
    }

    .knafa-name {
        margin: unset;
        font-weight: bold;
    }

    .knafa-description {
        margin: unset;
    }

    .price {
        display: flex;
        justify-content: right;
        font-weight: bold;

        .knafa-price-large {
            margin-left: 5px;
        }
    }

    img {
        border-radius: 14px;
    }
}